*{
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    row-gap: 20px;


}

a{
    text-decoration: none;
    padding: 15px;
}

button{
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    background: rgb(46, 46, 232);
    color: white;
    font-size: 17px;


}


header{
    background-image: url('banner.jpg');
     height: 80vh;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     display: grid;
     justify-content: center;
     align-items: center;
     margin: 0px;
}

.header-content{
    justify-content: center;
    color: white;
    display: grid;
    gap: 90px;
    text-align: center;
}

.header-content h1{
    font-size: 60px;
}

.header-content h1 span{
    font-size: italic;
}

.button1{
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(46, 46, 232);
    color: white;
    font-size: 20px;
    width: 40%;
    margin-left: 120px;
}


.speaker{
    padding: 100px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.speaker h2{
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: bold;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card{
    background: #f8f8f8;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}

.card img{
    width: 80%;
    border-radius: 10px;
}

.card h3{
    margin: 5px 0;
}

.card span{
    font-size: 14px;
    color: gray;
}

.container-1{
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    padding: 50px;


}

.pricing h2{
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: bold;
}

.pricing.letter{
    text-align: center;
}

.card-1{
    padding: 25px 50px;
    background-color: rgb(244, 240, 236);
    height: 400px;
    width: 300px;
    border-radius: 10px;
}


.card-pro{
    padding: 25px 50px;
    background-color: #0D1B2A;
    border-radius: 10px;
    color: #f8f8f8;
    height: 400px;
    width: 300px;
}


.btn-primary{
    background-color: #f8f8f8;
    color: black;
    width: 150px;
    padding: 10px;
    margin-top: 60px;
}


.card-pro ol{
    margin-top: 70px;
    display: grid;
    gap: 10px;
}


.btn-outline{
    width: 150px;
    padding: 10px;
    margin-top: 60px;
    background-color: white;
    color: black;
}



.conference-img{

    max-width: 100%;
    border-radius: 10px;
    width: 1000px;
    height: 500px;
    border: 2px solid #0D1B2A;
}


.conference-img{
    display: grid;
    justify-content: center;
    align-items: center;
}























